{
  "extends": "stylelint-config-standard",
  "rules": {
    "import-notation": null,
    "at-rule-no-unknown": [
      true,
      { "ignoreAtRules": ["tailwind", "layer", "apply", "config"] }
    ],
    "function-no-unknown": [true, { "ignoreFunctions": ["theme", "screen"] }],
    "alpha-value-notation": null,
    "color-function-notation": null
  },
  "overrides": [
    {
      "files": ["**/*.module.css"],
      "rules": {
        "selector-class-pattern": [
          "^(?:[a-z][a-zA-Z0-9]*|([a-z][a-z0-9]*)(-[a-z0-9]+)*)$",
          {
            "message": "Class names in module css should be either in \"Lower Camel Case\" or \"Kebab Case\""
          }
        ]
      }
    }
  ]
}
